@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto+Serif&display=swap')


*{
    margin: 0;
    padding: 0;
}

.cross {
    margin-left: 128px;
}

.sidebarGo{
    transform: translate(-440px, 0px);
    position: absolute;
}

.sidebar {
    position: absolute;
    background-color: rgb(148, 145, 145);
    width: 190px;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    transition: transform 0.35s ease-in-out; 
    
}
.sidebar nav {
    padding: 10px;

}
.sidebar nav li {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    padding: 24px;
}

.sidebar nav li a {
    text-decoration:none;
    color: rgb(255, 255, 255);
    
}


.main{
    /* background: yellow; */
    width:fit-content;
    
}
.container {
    display: flex;
}
.infoContainer {
    width: 72vw;
    height: 39vh;
    margin: 46px auto;
    display: flex;
    font-size: 50px;
    justify-content: center;
    flex-wrap: wrap;
}


}
/* @media screen and (max-width:1245px ) {

    .infoContainer {
        width: 203vw;
        height: 58vh;
        margin: 33px auto;
        display: flex;
        font-size: 50px;
        justify-content: right;
    }
}



@media screen and (max-width:360px ) {

.infoContainer {
    width: 173vw;
    height: 58vh;
    margin: 33px auto;
    display: flex;
    font-size: 50px;
    justify-content: right;
}
} */


.devinfo{
    /* display: flex;
    justify-content: center;
    margin-right: 1rem;
    font-size: 10px;
    flex-direction: column;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Source Code Pro', monospace; */
    display: flex;
    justify-content: center;
    margin-right: 3rem;
    font-size: 19px;
    flex-direction: column;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Source Code Pro', monospace;
    /* justify-content: space-evenly;
    align-items: left;
    box-shadow: 22px 1px 34px -4px rgba(0,0,0,0.7);
    -webkit-box-shadow: 22px 1px 34px -4px rgba(0,0,0,0.7);
    -moz-box-shadow: 22px 1px 34px -4px rgba(0,0,0,0.7); */
    
}

/* @media screen and (max-width:1160px){
    .devinfo{
        margin-right: 13rem;
    }
} 

@media screen and (max-width:860px){
    .devinfo{
        margin-right: 4rem;
    }
} 
@media screen and (max-width:664px){
    .devinfo{
        margin-right: 4rem;
    }
} */





.devPic img {
    margin-top: 52px;
    margin-right: 112px;
    height: 44vh;
    justify-content: center;
    margin-left: 68px;
}




.hello {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;

}

.name {
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    gin-top: 10px;

}

.about {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;

}

.moreabout {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.buttons {
    margin-top: 11px;
    
    
    /* transition: 1.5s ease all; */
}

#btn {
    font-size: 14px;
    margin-top: 16px;
    padding: 8px 12px;
    border-radius: 28px;
    color: white;
    background-color: dimgrey;
    font-weight: bold;
    margin: 1px 9px;
    cursor: pointer;
    margin-left: -3px;

}

#btn button:hover {
    background-color: white;
    color: dimgrey;
    transition: 1s ease all;
}

.buttons button {
    /* font-size: 50px;;
    margin-top: 34px;
    padding: 34px; */
    /* font-size: 48px;
    margin-top: 51px;
    padding: 25px;
    border-radius: ; */
    /* font-size: 13px;
    margin-top: 15px;
    padding: 2px 15px;
    border-radius: 19px;
    color: white;
    background-color: dimgrey;
    font-weight: bold;
    margin: 0 40px;
    cursor: pointer; */
/* 
    font-size: 19px;
    margin-top: 16px;
    padding: 9px 15px;
    border-radius: 20px;
    color: white;
    background-color: dimgrey;
    font-weight: bold;
    margin: 4px 30px;
    cursor: pointer; */


    font-size: 14px;
    margin-top: 16px;
    padding: 10px 10px;
    border-radius: 28px;
    color: white;
    background-color: dimgrey;
    font-weight: bold;
    margin: 1px 9px;
    cursor: pointer;
    margin-left: -3px;


    
    /* transition: 1.5s ease all; */

}


.buttons button:hover {
    background-color: white;
    color: dimgrey;
    transition: 1.5s ease all;

}



.contactform{
    font-family: 'Fira Sans', sans-serif;
    padding: 5px;


}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding: 10px 10px;

}

form {

    padding: 50px;
}


.contactform form div{
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.contactform form input{
    
    border-radius: 5em;
    width: 19vw;
    margin: 9px 0;

}





#tickcheck {
    flex-direction: row;
    margin-left: -152px;
}

#boxline {
    margin-left: -140px;
    padding: 6.5px;
    
}

#btn {
    font-size: .75em;
}


.blogitem {
    margin: 1.5em;
    padding: 10px;
    font-family: 'Gideon Roman', cursive;
    font-family: 'Roboto Serif', sans-serif;

}
div .blogitem p{
    margin-top: 1em;
    padding: 5px;
    margin-left: -5px;
    font-family: 'Gideon Roman', cursive;
    font-family: 'Roboto Serif', sans-serif;
}

.blogcontainer h1{
    font-family: 'Fira Sans', sans-serif;
}

div .blogitem h1{
    margin: 1em;
}


.skillcontainer h1 {
    font-family: 'Roboto Serif', sans-serif;
    padding: 10px;
    margin: 1em;
}


.skillitems {
    font-family: 'Roboto Serif', sans-serif;
    padding: .50em;
    font-weight: bold;
    margin: 1.5em;
    display: flex;
    flex-direction: row;
}
.skill {
    
    border: .15em solid black;
    margin-left: .75em;
    height: 10px;
    width: 500px;;
    background-color: blue;
}

.hundered {
    
    width: 365px;
}
.ninety {
    width: 350px;
}
.eightyf {
    width: 310px;
}
.eighty {
    width : 290px;
}
.seventyf {
    width: 290px;
}

.hamburger {
    position:absolute;
    cursor: pointer;
    left: 10px;
    top: 10px;
}

/* @media screen and (max-width:1441px){
    *{
        background-color: rgb(238, 149, 149);
    }
    .sidebarGo{
        transform: translate(-440px, 0px);
        position: absolute;
    }
    
} 

@media screen and (max-width:242px ) {
    infoContainer {
        width: 187vw;
        height: 385px;
        margin: 40px auto;
        display: flex;
        font-size: 31px;
        justify-content: center;
    }
 */
